<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
    <p><strong>Current user: </strong><%= current_user.email %></p>
    <%= form_with(url: destroy_user_session_path, method: :delete) do |form| %>
      <%= form.submit "Logout" %>
    <% end %>
  <% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
